<plugin name='picasa' version='0.6.4' grailsVersion='1.2.1 &gt; *'>
  <author>Anthony Campbell</author>
  <authorEmail>acampbell3000 [[at] googlemail [dot]] com</authorEmail>
  <title>Grails Picasa Plug-in</title>
  <description>\
A simple plug-in which provides a photo gallery driven from your Google Picasa Web Albums account.
</description>
  <documentation>http://grails.org/plugin/picasa</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>UrlMappings</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.AlbumController</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.CommentController</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.PhotoController</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.TagController</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.Album</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.Comment</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.GeoPoint</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.Person</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.Photo</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.Tag</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.PicasaCacheUpdateService</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.PicasaCommentService</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.PicasaCommentServiceException</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.PicasaService</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.PicasaServiceException</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.PicasaTagLib</resource>
    <resource>uk.co.anthonycampbell.grails.taglib.TextTagLib</resource>
    <resource>uk.co.anthonycampbell.grails.picasa.DateUtil</resource>
  </resources>
  <dependencies>
    <plugin name='oauth' version='0.6' />
    <plugin name='jquery' version='1.4.2.5' />
    <plugin name='springEvents' version='1.0' />
  </dependencies>
  <behavior />
</plugin>